[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "*"
fastapi = "*"
uvicorn = "*"
websockets = "*"

[dev-packages]
ipykernel = "*"
prettytable = "*"

[requires]
python_version = "3.12"
