{% extends "base.html" %} {% load i18n %} {% block content %}
<form method="post" action="/signup/">
  {% csrf_token %}
  <div class="is-flex is-justify-content-center">
    <div style="width: 20rem">
      <div class="is-flex is-justify-content-center">
        <h2 class="is-size-3" style="font-weight: bold">Signup</h2>
      </div>
      <div class="field is-horizontal" style="width: 100%; flex-wrap: nowrap">
        <div class="field-body">
          <div class="field is-expanded">
            <div class="control">
              <input
                type="text"
                class="input"
                name="first_name"
                placeholder="First Name"
                required
                {%
                if
                first_name
                %}
                value="{{first_name}}"
                {%
                endif
                %}
              />
            </div>
          </div>
          <div class="field is-expanded">
            <div class="control">
              <input
                type="text"
                class="input"
                name="last_name"
                placeholder="Last Name"
                required
                {%
                if
                last_name
                %}
                value="{{last_name}}"
                {%
                endif
                %}
              />
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="email"
            name="email"
            placeholder="Email"
            required
            {%
            if
            email
            %}
            value="{{email}}"
            {%
            endif
            %}
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input
            class="input"
            type="password"
            name="password"
            placeholder="Password"
            required
          />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
        <p class="help">Password must be at least 10 characters</p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input
            class="input"
            type="password"
            name="confirm_password"
            placeholder="Confirm Password"
            required
          />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button
            class="button is-success is-full-width"
            type="submit"
            style="width: 100%"
          >
            {% trans 'Submit' %}
          </button>
        </p>
      </div>
      {% if error %}
      <div
        class="notification is-danger is-flex is-align-items-center"
        style="padding: 0.5rem"
      >
        <p><span style="font-weight: bold">Error:</span> {{error}}</p>
      </div>
      {% endif %}

      <input type="hidden" name="next" value="{{ next }}" />
      <p>
        {% trans "Already have an account" %}?
        <a href="{% url 'login' %}">{% trans "Log In" %}</a>!
      </p>
    </div>
  </div>
</form>
{% endblock %}
